/* src/style.css */

/* Default styling for images */
.matsumoto-image {
    border-radius: 0.125rem; /* 2px */
  }
  
  /* Base style for a hidden spoiler */
  .matsumoto-spoiler {
    background-color: #333;
    color: #333; /* Hides the text by making it the same color as the background */
    padding: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none; /* Prevents text selection when hidden */
  }
  
  /* Style for the spoiler once it's visible/opened */
  .matsumoto-spoiler.spoiler-visible {
    background-color: transparent;
    color: inherit; /* Use the parent's text color */
    cursor: default;
  }
  
  /* The actual content inside the spoiler */
  /* .matsumoto-spoiler-content {
    display: none; /* Hidden by default 
  } 
*/
  
  .matsumoto-spoiler.spoiler-visible .matsumoto-spoiler-content {
    display: inline; /* Show when the parent is visible */
  }
  
  /* The close 'x' button */
  .matsumoto-spoiler-close {
    display: none; /* Hide the close button by default */
  }
  
  /* Show and style the close button only when the spoiler is visible */
  /* .matsumoto-spoiler.spoiler-visible .matsumoto-spoiler-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
    line-height: 1;
  } */
  
  .matsumoto-spoiler.spoiler-visible .matsumoto-spoiler-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  width: 14px;
  height: 14px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z' stroke-width='1' stroke='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  }